$background-grey: #f5f5f5;
$black: #262626;
$grey-text: #666666;
$teal-text: #00857d;
$border-grey: #c1c1c1;

.countries-container {
  display: flex;
  // flex-basis: 100%;
  // flex-flow: row wrap;
  // justify-content: space-around;
  // align-items: stretch;
}

.countries-item-1 {
  order: 0;
  flex-basis: 100%;
}

.countries-item-2 {
  order: 1;
}

.mat-expansion-panel-header {
  background-color: $background-grey !important;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  border-radius: 0;
  border-top: 1px solid $border-grey;
}

.countries-list {
    list-style-type: none;
    padding: 0px !important;
  }

.country {
  padding: 10px;
  border-bottom: 1px solid $border-grey;
}

.selected-country {
    background-color: $black;
    color: white;
}
