<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>Countries</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>

    <ul class="countries">
        <li *ngFor="let country of countries">
            <div [id]="country" [class.selected-country]="country === selectedCountry" (click)="onSelect(country)">
                Country {{country.name}}
            </div>
        </li>
    </ul>

    <!-- TODO: page navigation here? -->

    <!-- <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (next)="onNext($event)"
        (previous)="onPrevious($event)"
    ></app-pagination> -->


    <!-- <mat-action-row>
        <button mat-button color="primary" (click)="onPrevious()">Previous</button>
        <button mat-button color="primary" (click)="onNext()">Next</button>
    </mat-action-row> -->

    <!-- <mat-paginator [length]="countryCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
    </mat-paginator> -->
</mat-expansion-panel>

<app-country-detail [country]="selectedCountry"></app-country-detail>