<app-countries-description></app-countries-description>

<div class="countries-container">
    <div class="countries-item-1">
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Countries ({{numberOfCountries}})</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ul class="countries-list">
                <li *ngFor="let country of countriesToDisplay; let i=index" class="country"
                    [class.selected-country]="country === selectedCountry" id="country-{{i}}">
                    <div (click)="onSelect(country)">
                        {{country.name}}
                    </div>
                </li>
            </ul>

            <app-pagination [totalPages]="totalPages" (goTo)="onGoTo($event)"></app-pagination>

            <!-- <mat-action-row>
                <button mat-button color="primary" (click)="onPrevious()">Previous</button>
                <button mat-button color="primary" (click)="onNext()">Next</button>
            </mat-action-row> -->

            <!-- <mat-paginator [length]="countryCount"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator> -->
        </mat-expansion-panel>
    </div>

    <div class="countries-item-2">
        <app-country-detail [country]="selectedCountry" (close)="unselectCountry()"></app-country-detail>
    </div>
</div>