$background-grey: #f5f5f5;
$black: #262626;
$grey-text: #666666;
$teal-text: #00857d;
$border-grey: #c1c1c1;

.country-detail {
    max-width: 400px;
    border: 1px solid $border-grey;
    border-radius: 0;
    box-shadow: none;
}

.mat-card-header {
    display: flex;
    justify-content: space-between;
}

// .close-icon {
//     justify-self: end;
// }

.flag-container {
    width: 100%;
    margin: 15px;
}

// .flag {
//    width: 100%;
// }