.country-detail {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    padding: 40px;
}

.close-icon {
    float: right;
}

.flag-container {
    width: 170px;
    margin: 15px;
}

.flag {
   width: 100%;
}